input{
	width: 15%;
	font-size: 0.9em;
	padding: 3px;
}

table{
	background-color: #1A1A1A;
	margin-bottom: 30px;
	position: relative;
	z-index: -10;
}

table td{
	background-color: #303030;
	width: 200px;
	color: white;
}

table td.highlighted{
	background-color: #737373;
}

#result{
	color: #303030;
	border: 2px solid #1A1A1A;
	display: table;
	position: absolute;
}

.item{
	padding: 3px;
	background-color: #3d3d3d;
	font-size: 0.9em;
}

.item:hover{
	cursor: pointer;
	background-color: #363636;
}
