@font-face {
    font-family: dense;
    src: url("fonts/Dense-Regular.otf");
}

@font-face {
	font-family: roboto-regular;
	src: url("fonts/Roboto-Regular.ttf");
}

*{
	font-family: roboto-regular, Arial, Sans-Serif;
	color: white;
}

body{
	background-color: #242424;
}

a:link{
	color: white;
	text-decoration: none;
}

a:visited{
	color: white;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

/* WHITE TEXT */

h1{
	color: #8bcfe5;
	margin: 0;
	font-family: dense;
	font-size: 3em;
}

h2{
	font-family: roboto-regular;
}

p{
	margin: 3px 0;
	color: white;
}

#header{
	float: left;
	margin-top: 5px;
}

#header_image{
	float: left;
	margin-top: -5px;
	margin-left: 5px;
}

#credit{
	padding-bottom: 30px;
	clear: both;
}

#credit a:link{
	text-decoration: underline;
}

#credit a:visited{
	text-decoration: underline;
}

#credit a:hover{
	color: #D6D6D6;
}

#navbar a{
	float: right;
	display: inline-block;
	background-color: #424242;
	color: #8bcfe5;

	padding: 10px;

	margin: 5px;

	border-radius: 6px;
}

@media screen and (max-width: 842px) {
    #header_image{
		display: none;
	}
}

@media screen and (max-width: 714px) {
    #navbar{
		float: left;
	}
}
